* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    
}

body {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/foto18.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    
}


body::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.container_logo{
    filter: brightness(30);
    position: absolute;
    top: 30px;
    left: 1%;
}
.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 3px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);    
    position: relative;
    
    
}


.inputEncriptar {
    width: 40%;
    height: 70%;
    border-radius: 16px;
    background-color: white;
    border: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 2em;
    top: 2em;
    text-align:justify;
    padding: 1em;
    resize: none;
}


.inputTexto{
    width: 40%;
    height: 70%;
    border-radius: 16px;
    background-color: white;
    border: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: 2em;
    top: 2em;
    text-align: justify;
    padding: 1em;
    resize: none;

}


.inputTexto::placeholder{
    background-image: url("./assets/muneco.png");
    background-repeat: no-repeat;
    background-position:center top 1em;
    background-size: 50%;
    font-size: 20px;
    text-align:center;
    padding-top: 15em;
    position: relative;
    
}


.botonEncriptar{
    
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 8em;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    position: absolute;
    left: 3em;
    top: 21em;
    
}

.botonDesencriptar{
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 8em;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    position: absolute;
    left: 13em;
    top: 21em;
}

.botonCopiar{
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 8em;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    position: absolute;
    right: 8em;
    top: 21em;
    
}


.botonDesencriptar:disabled {
    background: #898989;
}
.botonCopiar:disabled {
    background: #898989;
}



.container__botones {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 72px;
    /*padding-bottom: 3.5rem;*/
    text-align: center;
    background-clip: text;
    background: linear-gradient(#D4AF37,white,orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute; 
    top: 15px;
    margin-left: 9rem;
}

h5{
    font-size: 15px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align:justify;
    position: absolute;
    left: 5em;
    top: 31.5em;
    color: white;
}

p{
    
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    position: relative;
    color:#2c1f1f; 
    
}

#mensaje{
    position: absolute;
    right: 3.5em;
    top: 11.5em;
    text-align: center;
    margin-left: 28em;    
}
